#menu_btns {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
}

.active {
    background: #F9F9F9;
    border-radius: 8px;
    color: #00DB99;
    font-weight: 600;
}


img {
    width: 20px;
    margin-right: 10px;
}

