.logout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 100px;
}

.logout a {
    color: #FF285C;
    font-weight: 500;
    font-size: 16px;
}