@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1%;
}

.wrapper {
  width: 80%;
}